.container{
    text-align: center;
    align-content: center;
  }
  
  .box{
    width: 80px;
    height: 80px;
    border: 1px solid black;
    display:  inline-block;
    line-height: 80px;
  }
  
  .board{
   margin-left: 100px;
    display: inline-flex;
    flex-wrap: wrap;
    width: 320px;
  }